@import "./base.scss";

.icons {
  display: flex;
  height: 32px;

  @media screen and (min-width: calc(#{$breakpoint-min + "px"} + 1px)) and (min-height: calc(#{$breakpoint-min + "px"} + 1px)) {
    @include fluidSizes(height, 32, 40);
  }

  .icon {
    width: 32px;
    height: 100%;
    background-color: white;
    transition: transform 200ms ease-in-out;

    @include fluidSizes(margin-right, 16, 24);

    @media screen and (min-width: calc(#{$breakpoint-min + "px"} + 1px)) and (min-height: calc(#{$breakpoint-min + "px"} + 1px)) {
      @include fluidSizes(width, 32, 40);
    }

    &--first {
      @include fluidSizes(margin-left, 16, 24);
    }

    &:hover {
      transform: scale(1.2);
    }

    .image {
      height: 100%;
      width: 100%;
    }

    &.lazyload-wrapper .placeholder {
      border-radius: 50%;
    }
  }
}
