@import "./base.scss";

.martin {
  width: 120px;
  height: 120px;
  max-height: 200px;

  // Mobile first
  @media screen and (min-height: calc(#{$breakpoint-min + "px"} + 1px)) {
    @include fluidSizes(width, 120, 160);
    @include fluidSizes(height, 120, 160);
  }

  // Mobile first
  @media screen and (min-height: #{$breakpoint-small + "px"}) {
    @include fluidSizes(width, 120, 200);
    @include fluidSizes(height, 120, 200);
  }
}

.icons {
  display: flex;
  height: 26px;
  margin-bottom: 0;

  // Mobile first
  @media screen and (min-width: calc(#{$breakpoint-min + "px"} + 1px)) and (min-height: calc(#{$breakpoint-min + "px"} + 1px)) {
    @include fluidSizes(height, 28, 40);
  }

  // Mobile first
  @media screen and (min-height: #{$breakpoint-medium + "px"}) {
    @include fluidSizes(margin-bottom, 40, 70);
  }

  .icon {
    width: 26px;
    height: 100%;
    transition: transform 200ms ease-in-out;

    @include fluidSizes(margin-right, 12, 25);

    // Mobile first
    @media screen and (min-width: calc(#{$breakpoint-min + "px"} + 1px)) and (min-height: calc(#{$breakpoint-min + "px"} + 1px)) {
      @include fluidSizes(width, 28, 40);
    }

    &--first {
      @include fluidSizes(margin-left, 12, 25);
    }

    &:hover {
      transform: scale(1.2);
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.description .optional {
  display: none;

  // Mobile first
  @media screen and (min-height: 500px) {
    display: block;
  }
}

.footer {
  display: none;
  position: absolute;
  bottom: 40px;

  // Mobile first
  @media screen and (min-height: #{$breakpoint-medium + "px"}) {
    display: flex;
  }

  span {
    @include fluidSizes(font-size, 12, 16);
    @include fluidSizes(line-height, 12, 16);
    @include fluidSizes(height, 12, 16);
  }

  .heart,
  .vue {
    display: inherit;
    @include fluidSizes(height, 12, 16);
    margin-left: 5px;
    margin-right: 5px;

    img {
      height: 100%;
    }
  }

  .vue {
    padding-top: 1px;
  }
}
