@import "./base.scss";

.martin {
  width: 120px;
  height: 120px;
  max-height: 200px;

  .image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  &.lazyload-wrapper .placeholder {
    border-radius: 50%;
  }

  @media screen and (min-height: calc(#{$breakpoint-min + "px"} + 1px)) {
    @include fluidSizes(width, 120, 160);
    @include fluidSizes(height, 120, 160);
  }

  @media screen and (min-height: #{$breakpoint-small + "px"}) {
    @include fluidSizes(width, 120, 200);
    @include fluidSizes(height, 120, 200);
  }
}

.header,
.footer {
  display: none;
  position: absolute;
  left: 50%;
  @include fluidSizes(height, 24, 32);

  @media screen and (min-height: #{$breakpoint-medium + "px"}) {
    display: flex;
    align-items: center;
  }
}

.header {
  @include fluidSizes(top, 30, 32);
  transform: translateX(calc(-50% + 4px));

  span {
    @include fluidSizes(font-size, 12, 16);
    @include fluidSizes(line-height, 12, 16);
    @include fluidSizes(height, 12, 16);
  }

  .heart,
  .vue {
    display: inherit;
    @include fluidSizes(width, 12 / 28 * 32, 16 / 28 * 32);
    @include fluidSizes(height, 12, 16);
    margin-left: 5px;
    margin-right: 5px;

    .image {
      height: 100%;
    }
  }

  .vue {
    margin-top: 1px;
  }
}

.footer {
  @include fluidSizes(bottom, 30, 32);
  transform: translateX(-50%);

  a {
    @include fluidSizes(font-size, 12, 16);
    text-decoration: none;
  }

  .imprint {
    margin-right: 12px;
  }

  .privacy {
    margin-left: 12px;
  }
}
