// VARIABLES
$blue: #345bfb;
$lightBlue: #87cefa;

$breakpoint-min: 320;
$breakpoint-small: 568;
$breakpoint-medium: 768;
$breakpoint-large: 992;
$breakpoint-max: 1200;

// MIXINS
@mixin fluidSizes($property, $min, $max) {
  #{$property}: #{$min + "px"};

  @media screen and (min-width: #{$breakpoint-min + "px"}) {
    #{$property}: calc(#{$min + "px"} + (#{$max} - #{$min}) * (100vw - #{$breakpoint-min + "px"}) / (#{$breakpoint-max} - #{$breakpoint-min}));
  }

  @media screen and (min-width: #{$breakpoint-max + "px"}) {
    #{$property}: #{$max + "px"};
  }
}

// STYLES
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: var(--windowHeight);
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::selection {
    background-color: $blue;
    color: white;
    text-shadow: none;
  }
}

a,
a:hover,
a:visited {
  color: black;
}

a.colored,
a.colored:hover,
a.colored:visited {
  text-decoration: none;
}

a.colored,
a.colored:visited {
  transition: color 300ms ease-in-out;
}

a.colored:hover {
  color: $blue;
}

p {
  &.margin-top-none {
  margin-top: 0;
  }

  &.margin-bottom-none {
    margin-bottom: 0;
  }

  &.margin-top-small {
    margin-top: 0.5em;
  }

  &.margin-bottom-small {
    margin-bottom: 0.5em;
  }

  &.margin-top-medium {
    margin-top: 1.5em;
  }

  &.margin-bottom-medium {
    margin-bottom: 1.5em;
  }

  &.margin-top-large {
    margin-top: 2em;
  }

  &.margin-bottom-large {
    margin-bottom: 2em;
  }

  &.margin-top-xlarge {
    margin-top: 2.5em;
  }

  &.margin-bottom-xlarge {
    margin-bottom: 2.5em;
  }
}

.app {
  width: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: inherit;
  height: inherit;
  min-height: var(--windowHeight);
  opacity: 0;
  transition: opacity 300ms linear; // Note that the same value needs to be set in Javascript

  &--ready {
    opacity: 1;
  }
}

.beach-ball {
  position: fixed;
  z-index: 21;
  width: 26px;
  height: 26px;

  @media screen and (min-width: calc(#{$breakpoint-min + "px"} + 1px)) and (min-height: calc(#{$breakpoint-min + "px"} + 1px)) {
    @include fluidSizes(width, 28, 40);
    @include fluidSizes(height, 28, 40);
  }

  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: paused;

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  &:hover {
    animation-play-state: running;
  }

  &--hidden {
    display: none;
  }
}

.description {
  display: block;
  width: 80vw;
  max-width: 480px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;

  @media screen and (min-height: calc(#{$breakpoint-min + "px"} + 1px)) {
    @include fluidSizes(font-size, 16, 20);
  }

  @media screen and (min-height: #{$breakpoint-small + "px"}) {
    @include fluidSizes(font-size, 16, 24);
  }
}

.lazyload-wrapper {
  position: relative;

  .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 300ms linear;
  }
}

.lazyload,
.lazyloading,
.lazyloaded {
  display: block;
  width: 100%;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms linear;
}

.lazyloaded + .placeholder {
  opacity: 0;
}

.navigation {
  @include fluidSizes(font-size, 24, 32);
  line-height: 1;
  text-decoration: none;

  &.hidden {
    display: none;
  }

  &--desktop {
    display: none;
    position: fixed;

    @media screen and (min-width: #{$breakpoint-medium + "px"}) {
      display: flex;
    }
  }

  &--mobile {
    display: flex;

    @media screen and (min-width: #{$breakpoint-medium + "px"}) {
      display: none;
    }
  }

  &--small {
    @include fluidSizes(font-size, 16, 24);
  }

  &:not(.navigation--small) {
    font-weight: 700;
  }

  &--top-left {
    top: 32px;
    left: 40px;
  }

  &--top-right {
    top: 32px;
    right: 40px;
  }

  &--bottom-left {
    bottom: 32px;
    left: 40px;
  }

  &--bottom-right {
    bottom: 32px;
    right: 40px;
  }

  &:not(.navigation--first).router-link-exact-active {
    color: $blue;
  }
}

.navigation-icon-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2142;

  @media screen and (min-width: #{$breakpoint-medium + "px"}) {
    display: none;
  }

  @include fluidSizes(margin-top, 8, 24);
  @include fluidSizes(margin-right, 8, 24);

  @include fluidSizes(height, 20, 28);
  @include fluidSizes(width, 20, 28);

  .navigation-icon {
    position: relative;
    width: 100%;
    height: 2px;
    margin: auto;
    visibility: hidden;
    background-color: black;

    &:before,
    &:after {
      content: "";
      position: absolute;
      visibility: visible;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: inherit;
    }

    &--menu {
      &:before {
        top: -200%;
      }

      &:after {
        bottom: -200%;
      }
    }

    &--closing {
      &:before,
      &:after {
        top: 0;
      }

      &:before {
        transform: rotate(45deg);
      }
  
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.snowflake {
  position: fixed;
  font-family: inherit;
  z-index: 2412;
  cursor: default;
  color: $lightBlue;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
