@import "./base.scss";

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &--ready {
    opacity: 1;
  }

  .description {
    width: 80vw;
    max-width: 630px;
    text-align: center;
    line-height: 1.5;

    // Fixes for landscape mode
    @include fluidSizes(font-size, 16, 20);
    @include fluidSizes(margin-top, 20, 30);
    @include fluidSizes(margin-bottom, 20, 30);

    @media screen and (max-height: #{$breakpoint-min + "px"}) {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @media screen and (min-height: 400px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    @media screen and (min-height: #{$breakpoint-small + "px"}) {
      // Actual size
      @include fluidSizes(font-size, 16, 24);
      @include fluidSizes(margin-top, 40, 60);
      @include fluidSizes(margin-bottom, 40, 60);
    }

    a,
    a:hover,
    a:visited {
      color: inherit;
      text-decoration: none;
    }
  }
}