@import "./index.scss";

.projects {
  width: 75vw;
  max-width: 686px;

  @include fluidSizes(margin-bottom, 40, 80);

  .project {
    text-align: center;
    line-height: 1.5;

    @include fluidSizes(margin-top, 40, 80);
    @include fluidSizes(font-size, 16, 24);

    .description {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }

    img {
      width: 100%;
    }
  }
}
