@import "./index.scss";

.projects {
  width: 75vw;
  max-width: 400px;

  @media screen and (min-width: #{$breakpoint-large + "px"}) {
    max-width: 550px;
  }

  @media screen and (min-width: #{$breakpoint-max + "px"}) {
    max-width: 686px;
  }

  @include fluidSizes(margin-bottom, 40, 80);

  .project {
    text-align: center;
    line-height: 1.5;

    @include fluidSizes(margin-top, 40, 80);
    @include fluidSizes(font-size, 16, 24);

    .description {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }

    .screenshot {
      width: 100%;

      .image {
        width: 100%;
      }
    }
  }
}
