// Variables
$breakpoint-min: 320;
$breakpoint-small: 568;
$breakpoint-medium: 768; 
$breakpoint-large: 992;
$breakpoint-max: 1200;

// Mixins
@mixin fluidSizes($property, $min, $max) {
  #{$property}: #{$min + "px"};

  @media screen and (min-width: #{$breakpoint-min + "px"}) {
    #{$property}: calc(#{$min + "px"} + (#{$max} - #{$min}) * (100vw - #{$breakpoint-min + "px"}) / (#{$breakpoint-max} - #{$breakpoint-min}));
  }

  @media screen and (min-width: #{$breakpoint-max + "px"}) {
    #{$property}: #{$max + "px"};
  }
}

// Stylings
body {
  width: 100vw;
  height: calc(var(--windowHeight, 1vh) * 100);
  margin: 0;
  overflow: hidden;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (min-width: #{$breakpoint-medium + "px"}) {
    height: 100vh;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  // Hide content based on browser
  &:not(.container--ie-edge) .description--browser {
    display: none !important;
  }

  &--ie-edge *:not(.description--browser):not(a):not(b) {
    display: none !important;
  }

  &--ready {
    opacity: 1;
  }

  .martin {
    // Fixes for landscape mode
    @include fluidSizes(width, 120, 160);

    @media screen and (max-height: #{$breakpoint-min + "px"}) {
      width: 120px;
    }

    @media screen and (min-height: #{$breakpoint-small + "px"}) {
      // Actual size
      @include fluidSizes(width, 120, 200);
    }
  }

  .beach-ball {
    position: absolute;
    z-index: 21;

    // Fixes for landscape mode
    @include fluidSizes(width, 28, 40);
    @include fluidSizes(height, 28, 40);

    @media screen and (max-width: #{$breakpoint-min + "px"}), screen and (max-height: #{$breakpoint-min + "px"}) {
      width: 26px;
      height: 26px;
    }

    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: paused;

    @keyframes rotation {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(359deg);
      }
    }

    &:hover {
      animation-play-state: running;
    }
  }

  .description {
    width: 80vw;
    max-width: 630px;
    text-align: center;
    line-height: 1.5;

    // Fixes for landscape mode
    @include fluidSizes(font-size, 16, 20);
    @include fluidSizes(margin-top, 20, 30);
    @include fluidSizes(margin-bottom, 20, 30);

    @media screen and (max-height: #{$breakpoint-min + "px"}) {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @media screen and (min-height: 400px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    @media screen and (min-height: #{$breakpoint-small + "px"}) {
      // Actual size
      @include fluidSizes(font-size, 16, 24);
      @include fluidSizes(margin-top, 40, 60);
      @include fluidSizes(margin-bottom, 40, 60);
    }

    a,
    a:hover,
    a:visited {
      color: inherit;
      text-decoration: none;
    }

    &--browser {
      a,
      a:hover,
      a:visited {
        text-decoration: underline;
      }
    }
  }

  .icons {
    display: flex;
    @include fluidSizes(height, 28, 40);

    // Fixes for landscape mode
    @media screen and (max-width: #{$breakpoint-min + "px"}), screen and (max-height: #{$breakpoint-min + "px"}) {
      height: 26px;
    }

    @media screen and (min-height: #{$breakpoint-small + "px"}) {
      @include fluidSizes(margin-bottom, 40, 80);
    }

    .icon {
      height: 100%;
      @include fluidSizes(margin-right, 12, 25);
      transition: transform 0.2s ease-in-out;

      // Fixes for landscape mode
      @include fluidSizes(width, 28, 40);

      @media screen and (max-width: #{$breakpoint-min + "px"}), screen and (max-height: #{$breakpoint-min + "px"}) {
        width: 26px;
      }

      &--first {
        @include fluidSizes(margin-left, 12, 25);
      }

      &:hover {
        transform: scale(1.2);
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .footer {
    display: none;
    position: absolute;
    bottom: 40px;

    // Fix for landscape mode
    @media screen and (min-height: #{$breakpoint-small + "px"}) {
      display: flex;
    }

    span {
      @include fluidSizes(font-size, 12, 16);
      @include fluidSizes(line-height, 12, 16);
      @include fluidSizes(height, 12, 16);
    }

    .heart,
    .vue {
      display: inherit;
      @include fluidSizes(height, 12, 16);
      margin-left: 5px;
      margin-right: 5px;

      img {
        height: 100%;
      }
    }

    .vue {
      padding-top: 1px;
    }
  }
}

.snowflake {
  position: absolute;
  font-family: inherit;
  z-index: 2412;
  cursor: default;
  color: #87CEFA;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}