// Variables
$breakpoint-min: 320;
$breakpoint-small: 576;
$breakpoint-medium: 768; 
$breakpoint-large: 992;
$breakpoint-max: 1200;

// Mixins
@mixin fluidSizes($property, $min, $max) {
  #{$property}: #{$min + "px"};

  @media screen and (min-width: #{$breakpoint-min + "px"}) {
    #{$property}: calc(#{$min + "px"} + (#{$max} - #{$min}) * (100vw - #{$breakpoint-min + "px"}) / (#{$breakpoint-max} - #{$breakpoint-min}));
  }

  @media screen and (min-width: #{$breakpoint-max + "px"}) {
    #{$property}: #{$max + "px"};
  }
}

// Stylings
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .martin {
    @include fluidSizes(width, 100, 200);
  }

  .beach-ball {
    position: absolute;
    @include fluidSizes(width, 20, 40);

    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: paused;

    @keyframes rotation {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(359deg);
      }
    }

    &:hover {
      animation-play-state: running;
    }
  }

  .description {
    width: 80vw;
    max-width: 666px;
    @include fluidSizes(font-size, 12, 24);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;

  }

  .icons {
    display: flex;
    margin-bottom: 60px;

    .icon {
      margin-right: 25px;
      @include fluidSizes(height, 20, 40);
      @include fluidSizes(width, 20, 40);
      transition: transform 0.2s ease-in-out;

      &--first {
        margin-left: 25px;
      }

      &:hover {
        transform: scale(1.2);
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .footer {
    display: flex;
    position: fixed;
    bottom: 40px;

    span {
      @include fluidSizes(font-size, 8, 16);
      @include fluidSizes(line-height, 8, 16);
    }

    .heart,
    .vue {
      height: 16px;
      margin-left: 5px;
      margin-right: 5px;

      img {
        height: 100%;
      }
    }

    .vue {
      padding-top: 1px;
    }
  }
}
